@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  src: local('Circe'), url('fonts/CRC55.woff') format('woff');
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 100;
  src: local('Circe'), url('fonts/CRC25.woff') format('woff');
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 300;
  src: local('Circe'), url('fonts/CRC35.woff') format('woff');
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: bold;
  src: local('Circe'), url('fonts/CRC65.woff') format('woff');
}

@font-face {
  font-family: 'ArialMT';
  font-style: normal;
  font-weight: normal;
  src: local('ArialMT'), url('fonts/ArialMT.woff') format('woff');
}
