.footer {
  background-color: #222222;
}

.footer__top-nav {
  border-bottom: 1px solid rgba(151, 151, 151, .3);
  padding-bottom: $base-padding;
}

.footer__links {
  text-align: center;
  font-size: 12px;
}

.footer__link {
  text-decoration: none;
  color: white;
  margin: 0 2%;
}

.footer__social {
  text-align: center;
  padding: $base-padding 0;
}

.footer__icon {
  width: 20px;
  display: inline-block;
  height: 20px;
  text-align: center;
  margin: 0 1%;
}

.footer__icon-img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.footer__info {
  text-align: center;
  font-family: ArialMT, Arial, sans-serif;
  font-size: 10px;
  color: #616161;
  padding: $base-padding*.7 0;
  line-height: 1.46;
}

.footer__info-link {
  color: inherit;
}

.footer__nav {
  display: none;
}

.footer__security {
  display: none;
}
