.header {
  background-position: 0 0;
  height: 640px;
  padding-top: 48px;
}

.header__links::after {
  content: '',attr();
  clear: both;
}

.header-links-right {
  float: right;
  text-align: right;
  font-size: 11px;
  padding-top: 13px;
  display: block;
}

.header__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 5em;
  letter-spacing: 1px;
  &:hover {
    color: $yellow-color;
  }
}

.header__link--dropdown {
  &:after {
    content: '\2039';
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 28px;
    margin-left: -10px;
    color: #999;
    vertical-align: top;
    height: 12px;
  }
}

.header__logo {
  width: 104px;
}

.header__fade {
  display: none;
}

.header__slogan {
  margin-top: 152px;
  font-size: 66px;
  line-height: 1.1;
}

.add-link {
  margin-top: 1.5em
}

.add-link__text {
  font-size: 30px;
  margin-bottom: 1em;
}
